//importar archivos secundarios de sass

@import "../utilidades/variables";


/*imagen presentación capacitaciones*/
.img-cap{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*capacitaciones disponibles*/






