// variables

//paleta de colores

$color-principal: teal;
$color-empresa: white;
$color-banner: yellow;
$color-ti: red;
$color-wsp: green;
$color-general: black;
$color-footer: rgb(185, 240, 237);

// tamaño título propuestas

.card-title{
    font-size: 15px;
    text-align: center;
}








